:root {
  --strong__cyan: hsl(172, 67%, 45%);
  --very__dark__cyab: hsl(183, 100%, 15%);
  --dark__grayish__cyan: hsl(186, 14%, 43%);
  --dark__grayish__cyan__1: hsl(184, 14%, 56%);
  --light__grayish__cyan: hsl(185, 41%, 84%);
  --light__grayish__cyan__2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background: var(--light__grayish__cyan);
}
