:root {
  --strong__cyan: hsl(172, 67%, 45%);
  --strong__cyan--hover: hsl(173, 61%, 77%);
  --very__dark__cyab: hsl(183, 100%, 15%);
  --dark__grayish__cyan: hsl(186, 14%, 43%);
  --dark__grayish__cyan__1: hsl(184, 14%, 56%);
  --light__grayish__cyan: hsl(185, 41%, 84%);
  --light__grayish__cyan__2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: hsl(13, 70%, 61%);
  --tip: hsl(180, 18%, 40%);
  --button--hover: hsl(172, 61%, 77%);
  --button--disabled: hsl(183, 78%, 24%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  background: var(--light__grayish__cyan);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
